.header {
    background-color: transparent;
    position: absolute;
    font-size: 13px;
    display: flex;
    align-items: center;
    width: 100%;

    &__img {
        width: 66px;
    }

    &__menu-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 19px;
        padding-bottom: 19px;

        @include md {
            padding: 0;
        }
    }

    &__nav-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: none;

        @include md {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__menu-item {
        text-transform: uppercase;
        margin: 37px 25px;
        margin-bottom: 37px;
        margin-top: 37px;
        position: relative;
    }

    //правильно ли задавать марджины для ли, или надо для а?
    &__menu-item:hover::after {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 50%;
        transform: translate(-50%);
        //центрирование блочного элемента
        display: block;
        width: 85px;
        height: 1px;
        background-color: var(--orange-color);
    }

    &__item-link {
        text-decoration: none;
        color: var(--white);
        font-family: Raleway400;
        font-size: 14px;
        line-height: 16px;
        margin: 0 auto;
    }

    &__item-link:hover {
        color: var(--orange-color);
        transition: all 0.3s;
    }

    &__menu-icons {
        display: none;

        @include md {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__icon-link:not(:last-child) {
        margin-right: 25px;
    }
}

.burger {
    display: block;

    @include md {
        display: none;
    }
    &__fields {
        padding: 10px;
        cursor: pointer;
        @media md {
            padding: 0;
        }
    }
    &__bar {
        display: block;
        width: 24px;
        height: 3px;
        margin: 3px auto;
        background-color: var(--white);
        transition: 0.3s;
    }

    &__fields.active .burger__bar:nth-child(2) {
        opacity: 0;
    }
    &__fields.active .burger__bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    &__fields.active .burger__bar:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
    }
}

.popup {
    // display: none;
    position: fixed;
    right: -100%;
    top: 79px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9)), url(../../../assets/images/dist/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -79px;
    transition: 0.2s;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: auto;
    // при повороте экрана бургер 
    // меню все равно будет скролиться до конца своего содержимого, 
    // те можно будет увидеть даже если оно длинное все пункты

    @include md {
        display: none;
    }

    &__menu-item {
        display: flex;
        list-style: none;
        padding: 25px 20px;
        width: 100%;
    }

    &__item-link {
        text-decoration: none;
        color: var(--white);
        font-family: Raleway400;
        font-size: 13px;
        line-height: 15px;
        margin: 0 auto;
        text-transform: uppercase;
    }
}

.popup.open {
    right: 0;
}

.noscroll {
    overflow: hidden;

    // нужно чтобы когда открыт бургер, сама страница не скроллилась
}
