.promo {
    background-image: linear-gradient(rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9)), url(../../../assets/images/dist/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 79px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__title {
        font-family: KaushanScriptRegular;
        font-size: 36px;
        line-height: 52px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--white);
        margin-bottom: 45px;

    }

    &__subtitle {
        font-family: Montserrat700;
        font-size: 48px;
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
        position: relative;
        margin-bottom: 65px;
    }

    &__subtitle::after {
        content: "";
        position: absolute;
        bottom: 0;
        top: 178px;
        left: 50%;
        transform: translateX(-50%);
        width: 134px;
        height: 4px;
        background-color: var(--white);
    }

    &__button {
        margin: 50px 16px;
        width: 100%;
    }
}
