:root {
    --lobster-color: #F38281;
    --egg-color: #F9EFCF;
    --orange-color: #F4BF87;
    --mint-color: #95E1D3;
    --dark-color: #2D3033;
    --white8-color: #F8F8F8;
    --grey-color: #C6CBCD;
    --white5-color: #F5F5F5;
    --white: #ffffff;

  }